@mixin hw_border_radius($radius: 5px) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin hw_background_image($size: cover) {
	background: 50% 50% no-repeat #ccc;
	background-size: $size;
}

@mixin hw_transition($key: all, $duration: 500ms, $easing: ease-in-out, $delay: 0ms) {
	$params:null;
	@each $val in $key {
		@if($params == '') {
			$params: $val $duration $easing $delay;
		}@else{
			$params: $params, $val $duration $easing $delay;
		}

	}
	-webkit-transition: $params;
	-moz-transition: $params;
	-o-transition: $params;
	transition: $params;
}

@mixin hw_transform($transform: none){
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-o-transform: $transform;
	transform: $transform;
}

@mixin hw_filter($filter: blur(5px)) {
	-webkit-filter: $filter;
	-moz-filter: $filter;
	-o-filter: $filter;
	-ms-filter: $filter;
	filter: $filter;
}

@mixin hw_position_stretch($top: 0, $right: 0, $bottom: 0, $left: 0) {
	position: absolute;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin hw_opacity($opacity) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	-ms-opacity: $opacity;
	-o-opacity: $opacity;
	opacity: $opacity;
}

@mixin hw_box_shadow($size: 1px, $opacity: .04, $offset_x: 0px, $offset_y: 0px) {
	$props: $offset_x $offset_y $size 0 rgba(0, 0, 0, $opacity);
	-webkit-box-shadow: $props;
	-moz-box-shadow: $props;
	-o-box-shadow: $props;
	box-shadow: $props;
}

@mixin hw_text_shadow($size: 5px, $x: 0, $y: 0, $color: rgba(0, 0, 0, 0.35)){
	$props: $x $y $size $color;
	-webkit-text-shadow: $props;
	-moz-text-shadow: $props;
	-o-text-shadow: $props;
	text-shadow: $props;
}