.hw-form-field {
  p { margin: 7px 0 3px 0; }
  input[type="text"] {width: 100%;}
  margin-bottom: 15px;
}

.hw-form-field-compact {
  p { margin: 0 0 5px 0; }
  .description {
    font-style: italic;
    font-size: 11px;
    color: #919b9c;;
  }
}