@import "mixins";

.hw-input-image {

	display: inline-block;

	.image-select {
		border: 1px solid #919b9c;
		@include hw_border_radius();
		display: block;
		min-height: 85px;
		min-width: 85px;
		max-width: 100%;
		position: relative;
		@include hw_background_image();
		text-align: center;
		text-decoration: none;
		color: black;
		overflow: hidden;
		&:hover {
			background: 50% 50% no-repeat #ccc;
			background-size: cover;
			.dashicons {
				font-size: 54px;
				margin-top: -28px;
				margin-left: -30px;
			}

			.image {
				@include hw_filter(blur(6px) brightness(2));
				@include hw_transition(all, 0.2s);
				@include hw_position_stretch(-20px, -20px, -20px, -20px);
				background-color: black;
			}
			.overlay {
				@include hw_opacity(0.75);
			}
		}

		.image {
			@include hw_background_image();
			@include hw_position_stretch();
			@include hw_transition();
		}

		.overlay {
			@include hw_transition(all, 0.2s);
			@include hw_position_stretch();
			@include hw_opacity(0);
			background: white;
		}

		.dashicons {
			@include hw_transition(all, 0.2s);
			font-size: 34px;
			position: relative;
			top: 50%;
			margin-top: -18px;
			margin-left: -10px;
			text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
		}
		.dashicons[data-icon="deselect"] {
		}
	}

	&[data-has-image="1"] .dashicons[data-icon="select"] {
		display: none;
	}

	&[data-has-image="0"] .dashicons[data-icon="deselect"] {
		display: none;
	}

}